<!DOCTYPE html>
<html>
  <head>
    <title>Convertisseur</title>
    <link rel="stylesheet" href="/static/css/index.css">
  </head>
  <body>
    <h1>Convertissez les ingrédients de votre recette en nutriments</h1>
    <form action="/" method="post">
      <label for="ingredients">Entrez les ingrédients</label>
      <p>Exemple : 1 poulet, 3 oignons, 4 gousses d'ail, 1 morceau de gingembre (ou 2 c. à c. de gingembre en poudre), 
        1 c. à c. de cannelle, 2 petits citrons confits, 150 g d'olives, 1 c. à c. d'huile d'olive, poivre, persil (facultatif).</p>
      <p>Si la ligne d'un produit est remplie de "N" vous pouvez essayer de :</p>
      <ul>
      <li>Ajouter une unité si vous en indiquez pas : <strong>50 g de crevettes</strong> au lieu de <strong>6 crevettes</strong>.</li>
      <li>Modifier l'indication du produit de manière plus claire : <strong>250 g de cabillaud</strong> au lieu de <strong>gros morceau de poisson</strong>.</li>
      </ul>
      <input type="text" name="ingredients" id="ingredients">
      <input type="submit" value="Convertir">
    </form>
    {% if table %}
    {{ table | safe }}
    {% endif %}
  </body>
</html>
