<!DOCTYPE html>
<html>
  <head>
    <title>Convertisseur</title>
    <link rel="stylesheet" href="/static/css/index.css">
  </head>
  <body>
    <h1>Convertissez les ingrédients de votre recette en nutriments</h1>
    <form action="/" method="post">
      <label for="ingredients">Entrez les ingrédients</label>
      <p>Exemple : 1 poulet, 3 oignons, 4 gousses d'ail, 1 morceau de gingembre (ou 2 c. à c. de gingembre en poudre), 
        1 c. à c. de cannelle, 2 petits citrons confits, 150 g d'olives, 1 c. à c. d'huile d'olive, poivre, persil (facultatif).</p>
      <input type="text" name="ingredients" id="ingredients">
      <input type="submit" value="Convertir">
    </form>
    {% if table %}
    {{ table | safe }}
    {% endif %}
  </body>
</html>
